<div class="commission">
    <div layout="row" class="data-row">
        <div layout="row" layout-align="start center" flex>
            <div class="status-container">
                <div ng-class="$ctrl.commission.stage ? 'close_commission' : 'open_commission'" class="status"></div>
            </div>
            <div flex ng-hide="$ctrl.isAuthorized" class="commission-owner">{{$ctrl.commission.owner}}</div>
            <div flex ng-show="$ctrl.isAuthorized">
                <md-input-container md-no-float>
                    <input ng-model="$ctrl.commission.owner" placeholder="Commissioner" ng-keypress="$ctrl.saveIfEnterPressed($event, $ctrl.commission)">
                </md-input-container>
            </div>
        </div>
    </div>
    <div layout="row" ng-show="$ctrl.commission.stage" class="stage-row">
        <div flex layout="row">
            <div flex>
                <div class="stage-container">Stage</div>
            </div>
            <div flex>
                <div class="stage-container">Stage</div>
            </div>
            <div flex>
                <div class="stage-container">Stage</div>
            </div>
            <div flex>
                <div class="stage-container">Stage</div>
            </div>
            <div flex>
                <div class="stage-container">Stage</div>
            </div>
        </div>
    </div>
</div>

