<div class="commission">
    <div layout="row" class="data-row">
        <div layout="row" layout-align="start center" flex>
            <div class="status-container">
                <div ng-class="$ctrl.commission.stage ? 'close_commission' : 'open_commission'" class="status"></div>
            </div>
            <div flex ng-hide="$ctrl.isAuthorized" class="commission-owner">{{$ctrl.commission.owner}}</div>
            <div flex ng-show="$ctrl.isAuthorized">
                <md-input-container md-no-float>
                    <input ng-model="$ctrl.commission.owner" placeholder="Commissioner" ng-keypress="$ctrl.saveIfEnterPressed($event, $ctrl.commission)">
                </md-input-container>
            </div>
        </div>
    </div>
    <div layout="row" ng-show="$ctrl.commission.stage" class="stage-row">
        <div flex layout="row">
            <div flex>
                <div class="stage-container">PAYED</div>
            </div>
            <div flex>
                <div class="stage-container">SKETCH</div>
            </div>
            <div flex>
                <div class="stage-container">COLORED</div>
            </div>
            <div flex>
                <div class="stage-container">DETAILED</div>
            </div>
            <div flex>
                <div class="stage-container">FINISHED</div>
            </div>
            <input class="ng-hide" id="image-picker-$ctrl.commission.owner" type="file"
                   data-bind-file="" data-ng-model="$ctrl.commission.stage.image"/>
            <label for="image-picker-$ctrl.commission.owner" class="md-button md-raised md-primary">Choose File</label>
            <md-button ng-click="$ctrl.save($ctrl.commission)">Save</md-button>
        </div>
    </div>
</div>

