.status {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: solid black thin;
}

.open_commission {
    background-color: green;
}

.close_commission {
    background-color: red;
}

.status_container {
    padding: 5px;
}

.commission {
    border: solid black thin;
    border-radius: 10px;
}