.status {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid black thin;
}

.open_commission {
    background-color: green;
}

.close_commission {
    background-color: red;
}

.status-container {
    padding: 5px;
}

.commission {
    margin: 20px;
}

.commission-owner {
    font-size: xx-large;
}

/** Commission Component Styles **/
.stage-container {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border-radius: 50%;
}

.data-row md-input-container {
    margin-bottom: 0;
    margin-top: 10px;
}

.stage-row {
    margin-top: 30px;
}