<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Miray's Commissions!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="scripts/commission-controller.js"></script>
    <script src="scripts/components/commission/commission.js"></script>
</head>
<body ng-app="main">
    <div ng-controller="commissionController" layout="row" class="view">
        <div flex class="commissions">
            <div ng-repeat="commission in commissions">
                <commission commission="commission" is-authorized="isAuthorized" on-update="updateCommissions()"></commission>
                <md-divider></md-divider>
            </div>
        </div>
        <div flex>
            <button ng-show="isAuthorized" ng-click="logout()">Logout</button>
        </div>
    </div>
</body>
</html>